body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(7, 7, 7);

}


ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    gap: 10px;

}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.logo-principal{   
    height: 90%;
    width: 100%;
    background-color: aqua;
    justify-content: space-around;
    gap: 15px;

}

#Principal{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


#search-input{
    width: 470px;
    height: 20px;
    border-radius: 81px 97px 107px 97px;
    box-shadow: 10px 10px 19px -9px rgba(0,0,0,0.75);
    align-items: center;
    padding-left: 25px;
}
#Botonera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap 5px;
}
#condiciones{
   
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    gap: 70px;
    align-items: center;
}








footer{
    text-decoration: none;
    color: whitesmoke;
    width: 100%;
    height: 15%;

#datosabajo{
        align-items: cen;
        display:flex;
        justify-content: flex-start;
        align-items: start;
        gap: 20px;
    }

}

